<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" card-content="IE=edge,chrome=1">
    <title>Counter View</title>
</head>

<body>
    <!-- ========= -->
    <!-- Your HTML -->
    <!-- ========= -->
    <div class="section">
        <div class="container" id="app">
            <h1 class="title">Counter View</h1>
            <div class="columns" id="tables">
                <div class="column">
                    <button id="btn" class="button is-large is-fullwidth" @click="showTableOrder(1)">1</button>
                </div>
                <div class="column">
                    <button class="button is-large is-fullwidth" v-on:click="showTableOrder(2)">2</button>
                </div>
                <div class="column">
                    <button class="button is-large is-fullwidth" v-on:click="showTableOrder(3)">3</button>
                </div>
                <div class="column">
                    <button class="button is-large is-fullwidth" v-on:click="showTableOrder(4)">4</button>
                </div>
                <div class="column">
                    <button class="button is-large is-fullwidth" v-on:click="showTableOrder(5)">5</button>
                </div>
                <div class="column">
                    <button class="button is-large is-fullwidth" v-on:click="showTableOrder(6)">6</button>
                </div>
            </div>
            <br>
            <div id="selectTable">
                <select-table v-if="!selected"></select-table>
                <div v-if="selected" class="content box">
                    <h3>Table No: {{ tables[selectedTable - 1].tableNo }} - Order No: {{ tables[selectedTable - 1].order_no }}</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Item Total</h>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in tables[selectedTable-1].order">
                                <td>{{ item.item }}</td>
                                <td>{{ item.price | currency('£') }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.price * item.quantity | currency('£') }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <th>TOTAL:</th>
                                <td>{{ totalPreTax(tables[selectedTable-1].tableNo) | currency('£') }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <th>VAT @ 20%:</th>
                                <td>{{ calculateVAT(this.currentTotalPreTax) | currency('£') }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <th>TOTAL + VAT:</th>
                                <td>{{ calculateTotal(this.currentTotalPreTax, this.currentVatAmount) | currency('£') }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <order-info :is="selectedTable"></order-info> -->
            </div>


            <!-- <div id="example">
                <my-component></my-component>
            </div> -->
        </div>
    </div>
    <!-- ========= -->
    <!-- Libraries -->
    <!-- ========= -->
    <!-- <script src="./js/counter.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">

    <!-- =============== -->
    <!-- Javascript code -->
    <!-- =============== -->
    <script type="text/javascript">
        var SelectTable = {
            template: '<div><h2>Select a table to see the order</h2></div>'
        }

        var OrderInfo = {
            template: `
            <h2>{{tableNo}}</h2>
            `,
            data: {
                tableNo: ''
            }
        }

        var app = new Vue({
            el: '#app',
            data: {
                selected: false,
                selectedTable: null,
                currentTotalPreTax: 0,
                currentVatAmount: 0,
                currentTotalPostTax: 0,
                tables: [
                    {
                        tableNo: 1,
                        order_no: 101,
                        order: [
                            {
                                item: 'food1',
                                quantity: 3,
                                price: 3.00
                            },
                            {
                                item: 'food2',
                                quantity: 2,
                                price: 1.50
                            },
                            {
                                item: 'food3',
                                quantity: 1,
                                price: 6.50
                            }
                        ]
                    },
                    {
                        tableNo: 2,
                        order_no: 102,
                        order:
                            [
                                {
                                    item: '2food1',
                                    quantity: 1,
                                    price: 3.00
                                },
                                {
                                    item: '2food2',
                                    quantity: 1,
                                    price: 3.00
                                },
                                {
                                    item: '2food3',
                                    quantity: 1,
                                    price: 3.00
                                }
                            ]
                    }
                ]
            },
            components: {
                'select-table': SelectTable,
                'order-info': OrderInfo
            },
            methods: {

                showTableOrder(tableNo) {
                    this.selectedTable = tableNo;
                    this.selected = true;
                },

                totalPreTax(tableNo) {
                    let total = 0;
                    this.tables[tableNo - 1].order.forEach(element => {
                        const itemTotal = element.quantity * element.price;
                        total += itemTotal;
                    });
                    this.currentTotalPreTax = total;
                    return total;
                },
                
                calculateVAT(totalPreTax) {
                    const vat = totalPreTax * 0.2;
                    this.currentVatAmount = vat;
                    return vat;
                },

                calculateTotal(currentTotalPreTax, currentVatAmount) {
                    const total = currentTotalPreTax + currentVatAmount;
                    this.currentTotalPostTax = total;
                    return total;
                }
            }
        });
    </script>

</body>

</html>