doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .section
      .container
        .columns
          .column.is-8.is-offset-2
            block content
