<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Admin</title>
</head>

<body>
    <div class="section">
        <div class="container" id="app">
            <h1 class="title">
                Admin Page
            </h1>
            <div class="menuItems content box">
                <table class="table is-bordered is-striped">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Price</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(foodItem, index) in filteredFoodItems" :key="index">
                            <td>{{ foodItem.name }}</td>
                            <td>{{ foodItem.price | currency('£') }}</td>
                            <td>{{ foodItem.category }}</td>
                            <td>
                                <a @click.prevent="removeItem(index)" class="button is-danger is-outlined">
                                    <span>Delete</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-times"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form>
                    <div class="field">

                        <div class="columns">
                            <div class="column">
                                <label class="label">Food Name</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Food Name" v-model="newItem.name">
                                </div>
                            </div>
                            <div class="column">
                                <label class="label">Food Price</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Food Price" v-model="newItem.price">
                                </div>
                            </div>
                            <div class="column">
                                <label class="label">Category</label>
                                <div class="control">
                                    <div class="select">
                                        <select v-model="newItem.category">
                                            <option>starter</option>
                                            <option>main</option>
                                            <option>side</option>
                                            <option>dessert</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="control" id="newItemButton">
                                    <button @click="addNewItem" class="button is-primary">Add New Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script src="./js/admin.js"></script>
    <link rel="stylesheet" type="text/css" href="./stylesheets/admin.css">
    <!-- <script src="./stylesheets/admin.css"></script> -->

</body>

</html>